nav#navbar
    #navlogo
        img(src="/images/full_logo_white.png", alt="cafe logo")
    #h1div
        h1= 'Schedule Site'
    ul.menu
        //- li
        //-   a(href='/') Home
    //-     li
    //-       a(href='/login') Login
    //-     li
    //-       a(href='/logout') Logout
